@import "color";

// palette template
$trace3d_tool_palette_width: 512px;
$trace3d_tool_palette_height: 512px;
$trace3d_card_drag_container_height: 16px;

// thumbnail palette
$trace3d_thumbnail_palette_width: 256px;
$trace3d_thumbnail_palette_heigth: $trace3d_thumbnail_palette_width + $trace3d_card_drag_container_height;

.card {
  position: absolute;
  z-index: 512;

  width: $trace3d_tool_palette_width;
  height: $trace3d_tool_palette_height;

  border-color: $trace3d_aluminum;
  background-color: $trace3d_snow;

  user-select: none;

  .card-body {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .trace3d_card_drag_container {

      cursor: grab;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: $trace3d_card_drag_container_height;
      background-color: transparent;

      i.fa-grip-lines {
        display: block;
      }
    }

  }

}

// thumbnail palette
#trace3d_thumbnail_palette.card {

  width: $trace3d_thumbnail_palette_width;
  height: $trace3d_thumbnail_palette_heigth;

  align-items: center;

  // thumbnail palette body
  #trace3d_thumbnail_palette_body.card-body {

    width: $trace3d_thumbnail_palette_width;
    height: $trace3d_thumbnail_palette_heigth;

    // thumbnail container
    #trace3d_thumbnail_container {
      width: $trace3d_thumbnail_palette_width;
      height: $trace3d_thumbnail_palette_heigth - $trace3d_card_drag_container_height;
      background-color: $trace3d_strawberry;
    }
  }

}

#threejs-canvas-container {

  margin: 0;
  overflow: hidden;

  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;

  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;

}
